---
type: testrun
label: todd-test-ping-mgmt
spec:
    targettype: uncontrolled
    source:
        name: group-hq
        app: ping
        args: "-c 10"
    target:
{% for host in groups["leaf-switches"] %}
    - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% for host in groups["spine-switches"] %}
    - {{ hostvars[host]['ansible_host'] }}
{% endfor %}
{% for host in groups["border-routers"] %}
    - {{ hostvars[host]['ansible_host'] }}
{% endfor %}